// *  Library  * //
@use 'library' as *

*, 
::before, 
::after
  box-sizing: border-box

html
  scroll-behavior: smooth

body
  margin-top: var(--header-height)
  font-family: var(--font-stack)
  font-size: var(--font-md)
  font-weight: var(--font-w-medium)
  background: var(--primary-lightest)
  color: var(--text-color)
  line-height: 1.6
